site_name: Guitar Game Chart Formats
site_description: Documentation for chart files of guitar- or band-centric rhythm games
site_author: Community
repo_url: https://github.com/TheNathannator/GuitarGame_ChartFormats
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - navigation.instant
    - navigation.top
    - navigation.indexes
    - navigation.sticky
    - navigation.expand
    - content.code.copy
  palette:
    - scheme: default
      primary: deep-purple
      accent: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep-purple
      accent: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search
  - awesome-pages

extra_javascript:
  - .mkdocs/js/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - .mkdocs/stylesheets/styles.css
  - https://unpkg.com/katex@0/dist/katex.min.css

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.superfences
  - tables
  - toc:
      permalink: true
  - attr_list

docs_dir: docs
site_dir: site
